.tablero {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top:25px;
    margin-bottom:25px;
}

@media (min-width: 650px) {
    .tablero{
        width:650px
    }
}

@media (max-width: 650px) {
    .tablero{
        width:80%
    }
}